<footer class="piedepagina">
    <nav class="footer-left">
        <a href="https://www.spotify.com/es/legal/end-user-agreement/">Legal</a>
        <p>Configuración de Cookies</p>
        <a href="https://www.spotify.com/es/legal/privacy-policy/#s3">Información sobre los anuncios</a>
    </nav>
    <section class="copyright">
        <p>
            España
            <img src="./assets/images/es.svg" alt="bandera de España" class="bandera" />
        </p>
        <p>© 2023 Spotify AB</p>
    </section>
</footer>