<header class="header">
    <a href="https://open.spotify.com/intl-es"><img class="header_logoCabecera" src="./assets/images/logo.png"
            alt="Logo Spotify" />
    </a>
    <img class="header_logoCabecera lineas" src="./assets/images/menu-icon.png" alt="Logo Menú" />
    <nav class="nav">
        <ul class="nav_list">
            <li>Premium</li>
            <li>Ayuda</li>
            <li class="nav_list-descargar">Descargar</li>
            <li>
                <a href="../signup.html">Registrarse</a>
            </li>
            <li>Iniciar sesión</li>
        </ul>
    </nav>
</header>