.header{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  }
  
  .nav {
      display: none;
        @media (min-width: 480px){
            display: flex;
            color: white;
        }
  }
  
  .header_logoCabecera {
      height: 7vh;
      padding: 10px;
      margin-top: 10px;
  }
  
    .lineas {
        display: none;
    }

    .nav_list {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        gap: 10px;
        align-items: center;
        font-family: var(--brand-font); 
        font-weight: bold;
        margin: 25px;
    }
    
    .nav_list-descargar::after {
        content: "|";
        margin-left: 15px;
    }